@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: var(--gray);
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
}

main {
  max-width: 300px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

section {
  padding: 1.75em 1.5em;
}

.sec-join {
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.sec-subscription {
  background-color: var(--cyan);
}

.sec-why-us {
  background-color: var(--cyan);
  opacity: 0.75;
  border-radius: 0 0 5px 5px;
}

.div-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.15rem 0 0.65rem;

  max-width: 60%;
}

h1 {
  color: var(--cyan);
  font-size: 1.15rem;
}

h2 {
  color: white;
  font-size: 1.05rem;
}

.paragraph-yellow {
  color: var(--yellow);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 1.15rem 0;
}

.paragraph-gray {
  color: var(--grayish-blue);
  font-size: 0.83rem;
  line-height: 1.5rem;
}

.paragraph-white {
  color: white;
}

.price {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.div-price .paragraph-white {
  opacity: 0.65;
}

.sec-subscription button {
  display: inline-block;
  width: 100%;
  margin-top: 1.75rem;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: var(--yellow);
  color: white;
  padding: 0.85rem;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.sec-why-us ul {
  margin-top: 1.15rem;

  list-style: none;
  line-height: 1.25rem;
  color: white;
  font-size: 0.83rem;
  opacity: 0.9;
}

@media (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;

    max-width: 600px;
  }

  .main-bottom {
    display: flex;
  }

  section {
    padding: 2.25em 2em;
  }

  .sec-subscription {
    width: 50%;
    border-radius: 0 0 0 5px;
  }

  .sec-why-us {
    width: 50%;
    border-radius: 0 0 5px 0;
  }

  h1 {
    font-size: 1.45rem;
  }

  .paragraph-yellow {
    font-size: 1.05rem;
  }

  .paragraph-gray {
    font-size: 0.94rem;
  }
}
